
* {
  font-family: 'Rubik', sans-serif;
}

html, body, #root, .App {
  margin: 0px;
  height: 100%;
}

body {
  background-image: url(./images/triangles.jpg);
}

p {
  margin-top: 0px;
  
}
a {
  text-decoration: none;
  color: black;
}

#nav {
  display: flex;
  justify-content: center;

  /* background-image: url(./images/cool-background-nav.png); */
}

.nav-link {
  margin: 20px;
}

#header-img {
  width: 100%;
  /* height: 50% */
}

#about {
  /* padding: 15px; */
  height: 90.9%;

}

#about-description {
  max-width: 30%;
  margin: 0px 20px;
  border-radius: 4px;
  background-color: white;
  padding: 10px;
  font-size: 20px;
}

#about-bio {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

#projects {
  padding: 15px;
}

#self-img {
  /* border-radius: 100%; */
  height: 420px;
  width: 300px;
}

#p1 {
  margin: 10px;
}



